.App {
  font-family: sans-serif;
  width: 95%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: large;
  font-weight: 200;
  margin-top: 10px;
}

.sub-title {
  font-size: medium;
}

.totDp {
  font-size: small;
  text-decoration: underline;
  padding: 5px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.slider {
  width: 100%;
}

.lables {
  display: flex;
  justify-content: space-between;
}

.tenure-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.tenure-button {
  text-align: center;
  width: 15%;
  height: 50px;
}

.tenureSelected {
  background-color: aqua;
  color: black;
}
